body {
  background-color: black;
  color: white;
  font-family: Arial;
}

p {
  font-size: 16pt;
}

button {
  left: 50%;
  right: 50%;
  width: 100px;
  padding: 10px;
  font-size: 24pt;
}

#main {
  display: none;
}

#results {
  display: none;
}
